<!DOCTYPE html>
{% extends "base.html" %} {% load static %}
<html>
  <title>diversion</title>
  <meta charset="UTF-8" />
  {% block content %}
  <body>
    <div>
      <section>
        <img
          src="{% static 'images/images2.jpg' %}"
          class="scale-100 block mx-auto"
        />
        <h1 class="flex justify-center">
          Titulo de una pagina para fines no demostrativos
        </h1>
        <p class="flex justify-center">
          Esta pagina te contare todo lo que necesitas saber
        </p>
      </section>
    </div>
  </body>
  {% endblock content %}
  <html></html>
</html>
